In [1]:
import pandas as pd

In [2]:
bookings = pd.read_csv('bookings.csv', sep=';')

bookings_head = bookings.head(7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

Посмотреть размер таблицы и посчитать количество столбцов и строк

In [3]:
bookings.shape

(119390, 21)

Всего в dataFrame 119390 записей и 21 параметр.

In [4]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [5]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [6]:
bookings = bookings.rename(columns = lambda col: col.replace(" ", "_").lower())

bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

Пользователи из каких стран совершили большее число успешных бронирований?

In [7]:
top_country = (bookings
			   .groupby(['country'], as_index=False)
			   .agg({'is_canceled' : 'sum'})
			   .sort_values('is_canceled', ascending=False)
			   .head(5))

top_country

    country  is_canceled
135     PRT        27519
59      GBR         2453
51      ESP         2177
56      FRA         1934
81      ITA         1333

Больше всего бронирований было произведено гражданами Португалии, ими было произведено 27 519 бронирований.
Топ-5 стран с наибольшим количеством бронирований выглядит следующим образом:
1. Португалия
2. Великобритания
3. Испания
4. Франция
5. Италия

На сколько ночей в среднем бронируют отели типа City Hotel? Resort Hotel?

In [8]:
stays_nights = (bookings
				.groupby(['hotel'], as_index=False)
				.agg({'stays_total_nights' : 'mean'})
				.sort_values('stays_total_nights', ascending=False)
				.round(2))

stays_nights

          hotel  stays_total_nights
1  Resort Hotel                4.32
0    City Hotel                2.98

В среднем отели городского типа (City Horel) бронируют на 2 - 3 ночи. В свою очередь отели курортного типа (Resort Hotel) бронируют в среднем на 4 - 5 ночей.

In [9]:
wrong_types_of_rooms = (bookings
					 .query("assigned_room_type != reserved_room_type")
					.shape)

wrong_types_of_rooms

(14917, 21)

Из-за овербукинга в 14 917 случаях забронированный тип номера отличался от типа номера, присвоенного клиенту.

In [10]:
month_bookings = (bookings
				 .groupby('arrival_date_year')['arrival_date_month']
				 .agg(pd.Series.mode)
				 .reset_index(drop=False))

month_bookings

   arrival_date_year arrival_date_month
0               2015          September
1               2016            October
2               2017                May

В 2015 году чаще всего оформляли бронирование на сентябрь. 
В 2016 году чаще всего оформляли бронирование на октябрь.
В 2017 году чаще всего оформляли бронирование на май.

In [11]:
month_bookings_cancel = (bookings
						 .groupby(['arrival_date_year','arrival_date_month'])
						 .is_canceled.sum()
						 .groupby(['arrival_date_year'])
						 .nlargest(1))

month_bookings_cancel

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             2094
2016               2016               October               2514
2017               2017               May                   2762
Name: is_canceled, dtype: int64

В 2015 году отмены бронирований в отеле типа City Hotel чаще всего происходили в сентябре. В 2016 году наиболее частыми были отмены в октябре. А в 2017 году большинство отмен пришлось на май.

In [12]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [13]:
bookings['total_kids'] = bookings.children + bookings.babies

bookings.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

В отелях типа Resort Hotel чаще делают бронирования клиенты с детьми, чем в отелях типа City Hotel.

Вычисление коэффициента оттока (Churn Rate) для клиентов с детьми.

In [14]:
def has_kids(x):
	if x > 0:
		return True
	else:
		return False

In [15]:
bookings['has_kids'] = bookings.total_kids.apply(has_kids)

In [16]:
bookings['has_kids'].value_counts()

has_kids
False    110058
True       9332
Name: count, dtype: int64

In [17]:
table = bookings[['has_kids', 'is_canceled']].value_counts()
table

has_kids  is_canceled
False     0              69093
          1              40965
True      0               6073
          1               3259
Name: count, dtype: int64

In [18]:
table1 = bookings[['has_kids']].value_counts()

table1

has_kids
False       110058
True          9332
Name: count, dtype: int64

In [19]:
bookings[['has_kids', 'is_canceled']].value_counts() / bookings[['has_kids']].value_counts() * 100

has_kids  is_canceled
False     0              62.778717
          1              37.221283
True      0              65.077154
          1              34.922846
Name: count, dtype: float64

Коэффициент оттока клиентов с детьми за 2015-2017 годы составляет 37.221283%.